// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { 
	background-image:url ('../images/bg.gif');
	margin:0;
	padding:0;
	background-repeat:repeat;
}