<!DOCTYPE html>
<html>
<head>
  <title>Thien-Bach Huynh: student, adventurer, entrepreneur, and dessert fiend</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div id="container">
        
<%= yield %>
    </div>
</body>
</html>
